body {
    padding: 0;
    margin: 0;
    background-color: rgb(212, 234, 255);
}
header {
    background-color: black;
    width: 99.35%;
    color: white;
    text-align: center;
    font-size: 225%;
    border: 5px solid rgb(63, 63, 252);
    font-family: 'Courier New', Courier, monospace;
}
nav {
    background-color: rgb(238, 124, 238);
    height: 15%;
    width: 99.35%;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    border: 5px solid rgb(63, 63, 252);
    border-radius: 0 0 15px 15px;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
nav li {
    display: inline;
    margin: 0 15px;
}
nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Courier New', Courier, monospace;
}
nav a:hover {
    text-decoration: underline;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: white 5px solid;
    background-color: black;
    color: white;
    max-width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 25%;
    margin-right: 25%;  
    margin-top: 2.5%;
    margin-bottom: 10%;
    border-radius: 15px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    margin-bottom: 20px;
}
#aboutUsContent {
    font-family:Arial, Helvetica, sans-serif
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#memberContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
}
#membersHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    border-bottom: white 5px solid;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.memberInfo {
    text-align: center;
    border-left: white 5px solid;
    border-bottom: white 5px solid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.memberName {
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(160, 70, 245);
}
.memberTitle {
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 223, 253);
}
.memberIntro {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.memberPhoto {
    width: 100%;
    height: auto;
    border-right: white 5px solid;
    border-bottom: white 5px solid;
}
.equipList {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    margin-top: 2%;
    list-style-type: disc;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}
h3 {
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
main li {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}
.headp {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    margin-bottom: 2%;
}
#setList {
    list-style: none;
    text-align: left;
    padding-left: 15%;
    padding-top: 0%;
}
.songs {
    color: lightblue;
}
label {
    margin-top: 10px;
    display: block;
}
#submit {
    margin-top: 20px;
    margin-bottom: 2.5%;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
th {
    background-color: rgb(205, 103, 205);
    color: black;
}
td {
    background-color: rgb(120, 188, 230);
    color: black;
}
#pricingHead {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    border-top: white 5px solid;
    border-bottom: white 5px solid;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    nav {
        font-size: 35px;
    }
    #setList {
        list-style: disc;
    }
    #setList li {
        display: list-item;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    header {
        font-size: 175%;
    }
    main {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20%;
    }
    #memberContainer {
        grid-template-columns: 1fr;
    }
    .memberInfo {
        border-left: none;
        border-right: none;
    }
    .memberPhoto {
        border-right: none;
    }
}
@media screen and (max-width: 400px) {
    nav {
        font-size: 30px;
        line-height: 40px;
    }
    header {
        font-size: 125%;
    }
    main {
        margin-bottom: 30%;
    }
}