body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}
header {
    background-color: black;
    height: 150px;
    width: 99.4%;
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 30px;
    border: 5px solid blue;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    background-color: gray;
    height: 50px;
    width: 99.4%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border: 5px solid blue;
    border-radius: 0 0 15px 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Courier New', Courier, monospace;
}
nav a:hover {
    text-decoration: underline;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: white 5px solid;
    background-color: black;
    color: white;
    max-width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 25%;
    margin-right: 25%;  
    margin-top: 5%;
    border-radius: 15px;
}
#aboutUsHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    border-bottom: white 5px solid;
    margin-bottom: 20px;
}
#aboutUsContent {
    font-family:Arial, Helvetica, sans-serif
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}